body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    display: flex;
    margin-bottom: 50px;
}
.button{
    background-image: linear-gradient(orange, tomato);
    font-weight: 900;
    padding: 20px 40px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 30px;
}
.self-area{
    width: 50%;
    padding: 10%;
}
.self-area img{
    width: 78%;

}
.about-us{
    display: flex;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.our-recipies{
    text-align: center;
}
.ex-recipies{
    width: 25%;
    padding: 15px 15px 15px 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    
    margin-left: 5%;
    margin-right: 5%;
    
}
.ex-recipies img{
    width: 100%;
    
    
    
}
.description-recipies{
    display: flex; 
}
.social-media{
    width: 25%;
    margin-left: 10%;
    margin-right: 10%;
}
#social-media{
    display: flex; 
    margin-top: 100px;
    margin-left: 8%; 
    margin-right: 8%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;

}
